################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/bin
/C#/obj
/C#/packages
/C#/TestResults
/C#/.vs
/UnitTestProject1/bin
/UnitTestProject1/obj
*.suo
*.user
*.dgml

packages/
/.vs
